.app_register {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  .a_r_content {
    width: fit-content;
  }
  .a_r_subhead {
    color: #868686;
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
      margin-right: 0.5rem;
      margin-bottom: 0.08rem;
    }
  }
  .a_r_head {
    font-size: 3em;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .a_r_c_body {
    position: relative;
    margin-top: 1.5rem;
  }

  .a_r_c_b_break {
    display: flex;
    width: 100%;
    gap: 10px;
    color: #868686;
    margin: 1.5rem 0;
    font-size: 14px;
    p {
      width: 50%;
      width: fit-content;
      white-space: nowrap;
      white-space: pre;
    }
    hr {
      width: 40%;
      height: 2px;
      background-color: #868686;
      border: 0;
    }
  }
}