@import "./_breakpoints.scss";

.layout {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.layout_content_wrapper {
    width: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layout_content {
    width: var(--content-width);
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 2rem;
}

.layout_body {
    width: 100%;
    height: calc(100% - 70px);
    box-sizing: border-box;
}

.nav {
    height: 70px;
    width: 100%;
}



.app_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    h1 {
        font-size: 3.25em;
        font-weight: 700;
        text-align: center;
        line-height: 3.25rem;
        &::after {
            content: "|";
            animation: blink 1.5s infinite step-start;
        }
    }
    p {
        color: #868686;
        text-align: center;
        margin: 2rem;
        font-size: 1.1em;
        line-height: 1.25rem;
    }
    span {
        display: flex;
        gap: 10px;
    }
}

@keyframes blink { 50% { opacity: 0; }}