.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  @include media('<=tablet') {
  }
}

.nav_brand {
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}

.nav_end {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  gap: 1rem;
  .nav_menu_icon {
    display: none;
    color: #fff;
    @include media('<=tablet') {
      display: flex;
    }
  }
  p {
    cursor: pointer;
    user-select: none;
    @include media('<=tablet') {
      display: none;
    }
  }
  .nav_signup {
    @include media('<=tablet') {
      display: none;
    }
  }
}

.modal {
  background-color: #181717;
  color: #fff;
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 3rem;
  h1 {
    margin: 0;
    background: none;
    font-size: 1.8em;
    font-weight: 600;
    width: 100%;
  }

  .login_subhead {
    color: #868686;
    font-size: 0.9em;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .login_break {
    display: flex;
    width: 100%;
    gap: 10px;
    color: #868686;
    margin: 1.5rem 0;
    font-size: 14px;
    p {
      width: 50%;
      width: fit-content;
      white-space: nowrap;
      white-space: pre;
    }
    hr {
      width: 30%;
      height: 2px;
      background-color: #868686;
      border: 0;
    }
  }

  .login_footer {
    font-size: 0.9em;
    color: #868686;
    margin-top: 2rem;
    span {
      cursor: pointer;
      color: rgb(177, 177, 177);
    }
  }
  .loader {
    background-color: rgba(black, 0.5);
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.a_c_d_summary_item_button {
  color: #fff;
  svg {
    color: #fff;
  }
}
