.nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 60px;
  align-items: flex-end;
  padding: 0 3rem;
  h3 {
    cursor: pointer;
  }
  span {
    button {
      margin-left: 1rem;
      border: 0;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
    }
    :nth-child(1) {
      background-color: transparent;
    }
    :nth-child(2) {
      background: rgb(155, 59, 144);
      background: linear-gradient(
        17deg,
        rgba(155, 59, 144, 1) 0%,
        rgba(223, 48, 75, 1) 51%,
        rgba(253, 136, 75, 1) 100%
      );
    }
  }
}

.buttonGradient {
  background: rgb(155, 59, 144);
  background: linear-gradient(
    17deg,
    rgba(155, 59, 144, 1) 0%,
    rgba(223, 48, 75, 1) 51%,
    rgba(253, 136, 75, 1) 100%
  );
}

.modal {
  background-color: #fff;
  color: black;
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  h1 {
    color: black;
    background-color: transparent;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 2em;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    button {
      border-radius: 5px;
      border: 0;
      color: #fff;
      padding: 0.75rem;
      cursor: pointer;
    }
    div {
      margin-bottom: 0.5rem;
    }
  }
}
