.nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 60px;
  align-items: flex-end;
  padding: 0 3rem;
  h3 {
    cursor: pointer;
  }
  span {
    button {
      margin-left: 1rem;
      border: 0;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;

    }
    :nth-child(1) {
      background-color: transparent;
    }
    :nth-child(2) {
      background: rgb(155, 59, 144);
      background: linear-gradient(
        17deg,
        rgba(155, 59, 144, 1) 0%,
        rgba(223, 48, 75, 1) 51%,
        rgba(253, 136, 75, 1) 100%
      );
    }
  }
}

.buttonGradient {
  background: rgb(155, 59, 144);
  background: linear-gradient(
    17deg,
    rgba(155, 59, 144, 1) 0%,
    rgba(223, 48, 75, 1) 51%,
    rgba(253, 136, 75, 1) 100%
  );
  border: 0;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.modal {
  background-color: #181818;
  z-index: 5;
  color: #fff;
  position: relative;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  height: 550px;
  box-sizing: border-box;
  h1 {
    margin: 0;
    background: none;
    font-size: 30px;
    font-weight: 600;
  }
  p {
    margin: 0;
    color: #616161;
    font-weight: 600;
    font-size: 1em;
    font-size: 14px;
    margin-top: 1.25rem;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 2rem 0;
    margin-bottom: 0;
  }
  label {
    font-weight: 600;
    font-size: 12px;
    color: #616161;
    margin-bottom: .35rem;
  }
  input {
    margin-bottom: 1rem;
    height: 40px;
    border: 0;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    padding: 0 .5rem;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #424242;
    color: #a3a3a3;
  }
  button {
    height: 44px;
    font-size: 14px;
    font-weight:500;
    cursor: pointer;
  }
  h3 {
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    margin: 1.5rem 0;
  }
  a {
    width: 86%;
    text-decoration: none;
  }
  .github {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(black, 0.35);
    border: 0;
    outline: 0;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: all 0.35s ease;
    svg {
      font-size: 1.5em;
      margin-right: .5rem;
    }
    &:hover {
      background-color:rgba(black, 0.5);
    }
  }
  .loader {
    background-color:rgba(black, 0.5);
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


