.nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 60px;
    box-sizing: border-box;
    .brand {
        position: absolute;
    }
    span {
        margin: 0 auto;
        a {
            margin: 0 1rem;
        }
    }
}