@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar__brand {
  letter-spacing: 0.25rem;
  cursor: pointer;
}

.navbar__left {
  display: flex;
  gap: 2rem;
}
.navbar__left p {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: color 0.35s ease, background 0.5s ease;
  background: transparent;
}
.navbar__left p:hover {
  color: var(--color-primary-red);
}
.navbar__left :first-child {
  color: var(--color-neutral-500);
}
.navbar__left :first-child:hover {
  color: var(--color-neutral-0);
}

.layout {
  background-color: var(--color-neutral-900);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 2rem 4rem;
  box-sizing: border-box;
}

.landing {
  display: flex;
  padding-top: 15rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.landing h1 {
  font-size: 5rem;
  letter-spacing: -0.2rem;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.landing__header {
  background: rgb(244, 92, 130);
  background: linear-gradient(90deg, rgb(244, 92, 130) 0%, rgb(116, 137, 228) 100%);
  transform: translate(0, 80px);
}

.landing__subheader {
  background: rgb(116, 137, 228);
  background: linear-gradient(90deg, rgb(116, 137, 228) 0%, rgb(28, 193, 251) 53%, rgb(152, 255, 211) 100%);
  transform: translate(0, 100px);
  line-height: 6.5rem;
}

.landing__body {
  width: 50%;
  text-align: center;
  font-size: 16px;
  color: var(--color-neutral-500);
  margin-top: 2rem;
  transform: translate(0, 20px);
  opacity: 0;
}

.header-transition-enter {
  opacity: 0;
}

.header-transition-enter-active {
  opacity: 1 !important;
  transition: opacity 3000ms ease, transform 1200ms ease;
  transform: translate(0, 0) !important;
}

.header-transition-enter-done {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

.subheader-transition-enter {
  opacity: 0;
}

.subheader-transition-enter-active {
  opacity: 1 !important;
  transition: opacity 3000ms ease, transform 1200ms ease;
  transform: translate(0, 0) !important;
}

.subheader-transition-enter-done {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

.body-transition-enter {
  opacity: 0;
}

.body-transition-enter-active {
  opacity: 1 !important;
  transition: opacity 3000ms ease, transform 1000ms ease;
  transform: translate(0, 0) !important;
}

.body-transition-enter-done {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

.middle {
  transform: translate(0%, 0%);
  opacity: 0;
  margin-top: 2.5rem;
}

.confetti-button {
  font-family: "Poppins", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 0.75em 2.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: var(--color-primary-red);
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(244, 92, 130, 0.5);
}

.confetti-button:focus {
  outline: 0;
}

.confetti-button:before,
.confetti-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.confetti-button:before {
  display: none;
  top: -70%;
  background-image: radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.confetti-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%), radial-gradient(circle, var(--color-primary-red) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.confetti-button:active {
  transform: scale(0.9);
  background-color: rgb(255, 81, 125);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.confetti-button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button-transition-enter {
  opacity: 0;
}

.button-transition-enter-active {
  opacity: 1 !important;
  transition: opacity 3000ms ease;
}
.button-transition-enter-active ::before {
  -webkit-animation: topBubbles ease-in-out 1.5s forwards;
          animation: topBubbles ease-in-out 1.5s forwards;
  display: block;
}
.button-transition-enter-active ::after {
  -webkit-animation: bottomBubbles ease-in-out 1.5s forwards;
          animation: bottomBubbles ease-in-out 1.5s forwards;
  display: block;
}

.button-transition-enter-done {
  opacity: 1 !important;
}

.modal {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 400px;
  border-radius: 10px;
  background: rgba(29, 29, 29, 0.3764705882);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 3rem 2rem;
  color: #fff;
}

.modal__header {
  font-size: 2rem;
}

.modal__subheader {
  font-size: 14px;
  margin: 1rem 0;
  font-weight: 300;
}

.modal__divider {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 20% 50% 20%;
  gap: 5%;
  box-sizing: border-box;
  width: 100%;
}
.modal__divider hr {
  width: 100%;
  border: 0;
  background-color: #fff;
  outline: 0;
  height: 1px;
}
.modal__divider p {
  font-size: 13px;
  text-align: center;
}

.modal__feedback {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: #81ff96;
}

.modal__footer {
  margin-top: 2rem;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.modal__footer a {
  text-decoration: underline;
  color: #9b9b9b;
  cursor: pointer;
}

:root,
body[data-theme=default] {
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f7f7f7;
  --color-neutral-100: #eeeeee;
  --color-neutral-200: #e2e2e2;
  --color-neutral-300: #d0d0d0;
  --color-neutral-400: #ababab;
  --color-neutral-500: #8a8a8a;
  --color-neutral-600: #636363;
  --color-neutral-700: #505050;
  --color-neutral-800: #323232;
  --color-neutral-900: #121212;
  --color-primary-red: #f45c82;
  --color-primary-purple: #7489e4;
  --color-primary-blue: #1cc1fb;
  --color-primary-green: #98ffd3;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Poppins", Arial, sans-serif;
}

button {
  font-family: "Poppins";
  outline: none;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 300ms ease-in-out;
  transform: translateY(0.25rem);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0rem);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(0.15rem);
}/*# sourceMappingURL=styles.css.map */